/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  min-height: 100%
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  background-color: #efefef;
}

app-root {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

app-login, app-register {
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

h1, h2, h3 {
  font-weight: 400;
}

h2 {
  display: block;
  font-size: 1.5em;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}
